{% extends "layout.html" %}

<!--  -->
{% block title %} GymBuddy {{mgroup}} {% endblock %}

<!--  -->
{% block main %}
<!--  -->
<div class="container pt-5 mt-5 mb-5">
  <h1 id="mgroup-exercise">FAVOURITE EXERCISES</h1>
  {% if added %}
  <div class="container alert alert-warning" role="alert">Exercise already added to favourites!</div>
  {% endif %}
</div>

{% for row in rows %}
<div class="container exercise-name">
  <a href="/exercises_individual/{{ row['exercise_id'] }}" style="text-decoration: none; color: #616f39">
    <h4>{{ row["exercise_name"] }}</h4>
  </a>
  {% if session["user_id"] %}
  <div>
    <form action="/profile/{{ row['exercise_id'] }}" method="post">
      <input type="hidden" class="inputr" name="remove" value="" />
      <button class="svg-flex1" type="submit" id="myButtonFav" onclick="changeInputValueRemove('remove')">
        <svg class="mx-3 mb-3 mt-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
        </svg>
      </button>
    </form>
  </div>
  {% endif %}
  <hr />

  <div class="container flex-container-exercise">
    <a class="exercise-anchor" href="/exercises_individual/{{ row['exercise_id'] }}">
      <div class="flex-item-exercise">
        <p>Level</p>
        <p class="p-color">{{ row["level"] }}</p>
      </div>
    </a>
    <a class="exercise-anchor" href="/exercises_individual/{{ row['exercise_id'] }}">
      <div class="flex-item-exercise">
        <p>Equipment</p>
        <p class="p-color">{{ row["equipment"] }}</p>
      </div>
    </a>
    <a class="exercise-anchor" href="/exercises_individual/{{ row['exercise_id'] }}">
      <div class="flex-item-exercise">
        <p>Group</p>
        <p class="p-color">{{ row["body_part"] }}</p>
      </div>
    </a>
    <a class="exercise-anchor" href="/exercises_individual/{{ row['exercise_id'] }}">
      <div class="flex-item-exercise">
        <img class="exercise-img" src="{{ row['exercise_image1'] }}" height="130px" width="175px" />
      </div>
    </a>
    <a class="exercise-anchor" href="/exercises_individual/{{ row['exercise_id'] }}">
      <div class="flex-item-exercise">
        <img class="exercise-img" src="{{ row['exercise_image2'] }}" height="130px" width="175px" />
      </div>
    </a>
  </div>
</div>
{% endfor %}
<!--  -->
{% endblock %}
