{% extends "layout.html" %}

<!--  -->
{% block title %} Gymbuddy {% endblock %}

<!--  -->
{% block main %}
<div class="container first-container col-xxl-8 px-4 pb">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-4 my-container">
    <div class="col-12 col-sm-8 col-lg-6 pb-5">
      <img src="/static/pexels-leon-ardho-1552242.jpg" class="d-block mx-lg-auto img-fluid" alt="sport" width="900" height="700" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">GET YOUR BODY IN SHAPE & <br /><span style="color: white">STAY HEALTHY</span></h1>

      <p class="lead pb-5" style="letter-spacing: 1px; font-weight: 350">Unlock your full potential and embark on a transformative fitness journey with <span style="font-weight: bold; color: #a7d129">GymBuddy</span>, your ultimate destination for all things exercise. Whether you're a seasoned gym enthusiast or just starting your fitness adventure, our comprehensive platform offers a treasure trove of workouts</p>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-0 py-0">
  <div class="grid-container pt-5 px-5">
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Chest</p>
      <a href="/exercises/chest" name="chest"> <img class="index-img" src="/static/chest_muscles-removebg-preview.png" alt="Chest" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Abdominal</p>
      <a href="/exercises/abdominals"> <img src="/static/rectus-abdominis-abdominal-muscles-anatomy-muscles-isolated-white-d-illustration-71503700-removebg-preview.png" alt="abs" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Shoulders</p>
      <a href="/exercises/shoulders"> <img src="/static/deltoris-muscles-anterior-anatomy-muscles-isolated-white-d-illustration-71503691-removebg-preview.png" alt="shoulders" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Biceps</p>
      <a href="/exercises/biceps"> <img src="/static/biceps-muscles.png" alt="biceps" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Triceps</p>
      <a href="/exercises/triceps"> <img src="/static/triceps-muscle.png" alt="Triceps" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Back</p>
      <a href="/exercises/back"> <img src="/static/back-muscles.png" alt="back-muscles" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Legs</p>
      <a href="/exercises/legs"> <img src="/static/hamstrings-muscles.png" alt="legs" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Calves</p>
      <a href="/exercises/calves"> <img src="/static/calf-muscle.png" alt="calves" width="250px" /></a>
    </div>
    <div class="grid-item">
      <p class="body-name mt-3 mb-0 text-uppercase">Glutes</p>
      <a href="/exercises/glutes"> <img src="/static/glutes.png" alt="glutes" width="250px" /></a>
    </div>
  </div>
</div>

{% endblock %}
